<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <app-restaurant-detail [data]="data" [isLoading]="isLoading"></app-restaurant-detail> -->

  <ion-row class="ion-padding assign borderBottomSmall">
    <ion-label>
      <h4>Sin Asignar</h4>
    </ion-label>
    <ion-toggle mode="md" color="success"(ionChange)="assignOnly($event)" [(ngModel)]="assign"></ion-toggle>
  </ion-row>

  <!-- <app-loading-restaurant *ngIf="isLoading"></app-loading-restaurant>
  <app-empty-screen [model]="model" *ngIf="!isLoading && categories?.length == 0"></app-empty-screen> -->

  <ion-list lines="none" *ngFor="let sector of sectores">
    <ion-list-header>
      {{sector?.name+':'}}
    </ion-list-header>
    <ng-container *ngFor="let orden of items;">
      <app-orden 
        *ngIf="sector.id == orden.sector_id"
        [orden]="orden"
      
        [routerLink]="['/', 'tabs', 'assign', orden.uid]">
      </app-orden>
    </ng-container>
  </ion-list>
</ion-content>
