<ion-header>
  <ion-toolbar>
    <ion-searchbar
      animated="true"
      debounce="500"
      #searchInput
      (ionChange)="onSearchChange($event)"
      (ionBlur)="onSearchBarBlur()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-loading-encurso *ngIf="isLoading"></app-loading-encurso>

  <app-emty-screen *ngIf="!isLoading && (enCursos?.length == 0 || query?.length == 0)" [model]="model"></app-emty-screen>

  <ion-list *ngIf="!isLoading && enCursos.length > 0">
    <ion-list-header>
      <ion-label>
        <h4>Search result for "{{query}}"</h4>
      </ion-label>
    </ion-list-header>
    <app-encurso *ngFor="let encurso of enCursos"
    [encurso]="encurso"></app-encurso>
  </ion-list>
</ion-content>
