<ion-item lines="none">
  <ion-thumbnail slot="start">
     <img [src]="riders?.foto ? riders.foto :'assets/imgs/moto1.jpg' ">
  </ion-thumbnail>
  <ion-label>
     <h4 >{{riders?.name}}</h4>
     <ion-text color="tertiary">
       <p class="pStyle2">
        Horario: {{riders?.sector}}
       </p>
       <p class="pStyle2">
        Disponibilidad: 
        {{riders?.disponibilidad}}
       </p>
     </ion-text>
     <ion-text color="tertiary" *ngIf="riders?.distance && riders?.distance !=0">
      <p class="distance">
         Horario
      </p>
     </ion-text>
  </ion-label>
 </ion-item>