ion-buttons {
    margin-top: 1.5rem;;
    margin-right: 1rem;
    padding-right: 1rem;
    margin-bottom: -3.2rem;
    padding-bottom: -3.2rem;
}

h3{
   text-align: center;
   margin-bottom: 2rem;
   font-weight: bold;
   background: rgb(190, 213, 255);
   border-radius: 25px;
   margin-right: 4rem;
   margin-left: 4rem;
}
